{
  "extension": [
    ".ts"
  ],
  "exclude": [
    "node_modules/**",
    "test/**",
    "coverage/**",
    "**/*.d.ts",
    "deployment/**"
  ],
  "reporter": [
    "html",
    "text",
    "cobertura"
  ],
  "all": true,
  "cache": true
}