[
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "I want to talk to a human",
        "status": 200,
        "response": {
            "query": "I want to talk to a human",
            "topScoringIntent": {
                "intent": "Escalate",
                "score": 0.954809964
            },
            "entities": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    },
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "I want to talk to a human",
        "status": 200,
        "response": {
            "query": "I want to talk to a human",
            "topScoringIntent": {
                "intent": "l_general",
                "score": 0.8216719
            },
            "entities": [],
            "connectedServiceResult": {
                "query": "I want to talk to a human",
                "topScoringIntent": {
                    "intent": "Escalate",
                    "score": 0.954809964
                },
                "entities": []
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "CSP-Billing-Usage",
            "CognitiveServices.LUIS.Transaction|2"
        ]
    }
]