/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Segoe UI;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
html, body, .body-content {
    height: 100%;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#webchat,
#webchat > * {
    height: 100%;
    width: 100%;
    border: solid 1px #E6E6E6;
}


.linkedAccount-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
}

.linkedAccount-header {
    display: flex;
    flex-direction: row;
    margin-top: 1px;
    margin-bottom: 1px;
    align-items: center;
    background: #737373;
    height: 46px;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.linkedAccount-header-label {
    width: 220px;
}

.linkedAccount-header-connectionName {
    margin-left: 10px;
}

.linkedAccount-list {
    display: flex;
    flex-direction: column;
}

.linkedAccount {
    display: flex;
    flex-direction: row;
    margin-top: 1px;
    margin-bottom: 1px;
    align-items: center;
    background: #eeeeee;
    height: 46px;
}

.linkedAccount-label {
    width: 220px;
}

.linkedAccount-connectionName {
    margin-left: 10px;
    font-weight: bold;
}

.linkedAccount-status {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    height: 20px;
    width: 20px;
}

.online-status {
    margin-left: 10px;
}

.linkedAccount-action {
    margin-right: 10px;
}

.linkedAccount-actions {
    margin-top: 20px;
}

button {
    background-color: #0078d7;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    padding: .75rem 1rem;
}

.button {
    background-color: #0078d7;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    padding: .75rem 1rem;
}

    .button:hover {
        background-color: #657093;
    }

    .button:active {
        background-color: #3c5296;
    }

.navbar-brand,
.navbar-text,
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF !important;
    font-size: 15px;
}

.main-content-area {
    padding-left: 30px;
}

.content-title {
    color: #000000;
    font-family: "Segoe UI";
    font-size: 46px;
    font-weight: 300;
    line-height: 62px;
}

.main-text {
    color: #808080;
    font-size: 24px;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 200;
    line-height: 32px;
}

.main-text-p1 {
    padding-top: 48px;
    padding-bottom: 28px;
}

.main-text-bold {
    font-weight: 400;
}

.main-text-black {
    color: #000000;
}

.content-row {
    padding: 20px 0px 0 20px;
    height: 100%;
    min-width: 480px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.content-column {
    float: left;
    width: 45%;
    padding-right: 20px;
}

.content-row:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 1300px) {

    .header-text {
        font-size: 40px;
    }

    .content-column {
        float: none;
        padding-top: 30px;
        width: 100%;
    }

    .content-row {
        padding: 20px 0px 0 20px;
        min-width: 480px;
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1370px) {
    header {
        background-color: #55A0E0;
        background-size: auto 200px;
    }
}

@media only screen and (max-width: 1230px) {
    header {
        background-color: #55A0E0;
        background-size: auto 200px;
    }

    .header-text {
        font-size: 44px;
    }

    .header-icon {
        height: 120px;
        width: 120px;
    }
}

@media only screen and (max-width: 1000px) {
    header {
        background-color: #55A0E0;
        background-image: none;
    }
}

@media only screen and (max-width: 632px) {
    .header-text {
        font-size: 32px;
    }

    .content-row {
        padding: 10px 0px 0 10px;
        max-width: 490px !important;
        min-width: 410px !important;
    }


    .main-text {
        font-size: 20px;
    }

    .content-column {
        padding-right: 5px;
    }
}
