# https://blog.github.com/2017-07-06-introducing-code-owners/

* @darrenj @lauren-mills @lzc850612 @ryanlengel 

# Docs
/docs/ @ryanlengel @darrenj

# Lib
/lib/ @lzc850612 @darrenj

# Skills
/skills/ @lauren-mills @lzc850612 @ryanlengel 

# Solutions
/solutions/ @ryanlengel @darrenj

# Templates
/templates/ @lauren-mills @darrenj
