[
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "Repeat",
        "status": 200,
        "response": {
            "query": "Repeat",
            "topScoringIntent": {
                "intent": "l_general",
                "score": 0.9893292
            },
            "entities": [],
            "connectedServiceResult": {
                "query": "Repeat",
                "topScoringIntent": {
                    "intent": "Repeat",
                    "score": 0.98222065
                },
                "entities": [
                    {
                        "entity": "repeat",
                        "type": "builtin.personName",
                        "startIndex": 0,
                        "endIndex": 5
                    }
                ]
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "CSP-Billing-Usage",
            "CognitiveServices.LUIS.Transaction|2"
        ]
    },
[...]
