[
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/prediction/v3.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554/slots/production/predict?verbose=true&log=true&show-all-intents=false",
        "body": {
            "query": "Help",
            "options": {
                "preferExternalEntities": true
            }
        },
        "status": 200,
        "response": {
            "query": "Help",
            "prediction": {
                "topIntent": "l_general",
                "intents": {
                    "l_general": {
                        "score": 0.9994039,
                        "childApp": {
                            "topIntent": "Help",
                            "intents": {
                                "Help": {
                                    "score": 0.9871105
                                }
                            },
                            "entities": {
                                "personName": [
                                    "Help"
                                ],
                                "$instance": {
                                    "personName": [
                                        {
                                            "type": "builtin.personName",
                                            "text": "Help",
                                            "startIndex": 0,
                                            "length": 4,
                                            "modelTypeId": 2,
                                            "modelType": "Prebuilt Entity Extractor",
                                            "recognitionSources": [
                                                "model"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "entities": {}
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "CSP-Billing-Usage",
            "CognitiveServices.LUIS.Transaction=2"
        ]
    },
[...]
