@{
    ViewData["Title"] = "Linked Accounts Sample";
}

<div class="panel-title">
    <p>

        This is a sample Linked Accounts website to demonstrate the capability to link accounts to a Virtual Assistant. 
        In voice focused scenarios there is a need to ensure a companion experience (Website or Mobile App) can be used to link accounts as part of the onboarding process.

        <br /><b>Click Linked Accounts above to get started</b>
    </p>
</div>
