@{
    ViewData["Title"] = "Testing your Virtual Assistant";
}

<div class="content-row">
    <div class="content-title">Testing your Virtual Assistant</div>
    <div class="main-text main-text-p1">
        <p>
            You can connect to your virtual assistant with an authenticated identity using <a href="https://github.com/Microsoft/AI/blob/master/solutions/Virtual-Assistant/docs/virtualassistant-linkedaccounts.md">Linked Accounts</a>.
        </p>
        <p>
            Voice focused scenarios have a need for a companion experience (a web or mobile app) that can be used to link accounts as part of an onboarding process.
        </p>
        <p>
            You should be logged into this test harness with the same account you are linking to your virtual assistant.
        </p>
    </div>
</div>