[
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "run dialog",
        "status": 200,
        "response": {
            "query": "run dialog",
            "topScoringIntent": {
                "intent": "Cancel",
                "score": 0.0366765819
            },
            "entities": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    },
[...]
