@{
    ViewData["Title"] = "Web Test";
}

<div class="panel-title">
    <p>
        This is a sample web app to demonstrate both a Web Chat and the capability to link accounts to a Virtual Assistant unsing Linked Accounts.
        In voice focused scenarios there is a need to ensure a companion experience (Website or Mobile App) can be used to link accounts as part of the onboarding process.
        <br />
        <br/><b>References</b>
        <br/><a href="https://github.com/microsoft/botframework-webchat">Web Chat</a>
        <br/><a href="https://github.com/Microsoft/AI/blob/master/solutions/Virtual-Assistant/docs/virtualassistant-linkedaccounts.md">Linked Accounts</a>
    </p>
</div>
