@{
    ViewData["Title"] = "Web Test";
}

<div class="content-row">
    <div class="content-title">Testing your Virtual Assistant</div>
    <div class="main-text main-text-p1">
        <p>
            You can test your assistant using <a href="https://github.com/microsoft/botframework-webchat">Web Chat</a> over the <a href="https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-directline?view=azure-bot-service-4.0">Direct Line</a> channel.
            You can also connect an authenticated identity using <a href="https://github.com/Microsoft/AI/blob/master/solutions/Virtual-Assistant/docs/virtualassistant-linkedaccounts.md">Linked Accounts</a>.
        </p>
        <p>
            Voice focused scenarios have a need for a companion experience (a web or mobile app) that can be used to link accounts as part of an onboarding process.
        </p>
        <p>
            You should be logged into this test harness with the same account you are linking to your virtual assistant. Your ID will be used as in the web chat to authenticate.
        </p>
    </div>
</div>