@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    <a class="nav-item nav-link" asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">
        Sign out
    </a>
}
else
{
    <a class="nav-item nav-link" asp-area="AzureAD" asp-controller="Account" asp-action="Signin">
        Sign in
    </a>
}