[
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "Hi",
        "status": 200,
        "response": {
            "query": "Hi",
            "topScoringIntent": {
                "intent": "q_chitchat",
                "score": 0.97846
            },
            "entities": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    },
    {
        "scope": "https://sample-hostname-qnahost.azurewebsites.net:443",
        "method": "POST",
        "path": "/qnamaker/knowledgebases/f7c2ee78-8679-4a3e-b384-0cd10c67e554/generateanswer",
        "body": {
            "question": "Hi",
            "scoreThreshold": 0.3,
            "top": 1,
            "strictFilters": [],
            "metadataBoost": []
        },
        "status": 200,
        "response": {
            "answers": [
                {
                    "questions": [
                        "Hiya",
                        "Good morning",
                        "Hi",
                        "Hello",
                        "Heya",
                        "Hi there!",
                        "Hey"
                    ],
                    "answer": "Hello.",
                    "score": 100,
                    "id": 14,
                    "source": "qna_chitchat_the_professional.tsv",
                    "metadata": [
                        {
                            "name": "editorial",
                            "value": "chitchat"
                        }
                    ]
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    }
]