[
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "Unhandled message",
        "status": 200,
        "response": {
            "query": "Unhandled message",
            "topScoringIntent": {
                "intent": "Confirm",
                "score": 0.11337278
            },
            "entities": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    },
[...]
    {
        "scope": "https://vatsample-qnahost.azurewebsites.net:443",
        "method": "POST",
        "path": "/qnamaker/knowledgebases/f7c2ee78-8679-4a3e-b384-0cd10c67e554/generateanswer",
        "body": {
            "question": "Unhandled message",
            "scoreThreshold": 0.3,
            "top": 1,
            "strictFilters": [],
            "metadataBoost": [],
            "timeout": 100000
        },
        "status": 200,
        "response": {
            "answers": [
                {
                    "questions": [],
                    "answer": "No good match found in KB.",
                    "score": 0,
                    "id": -1,
                    "source": null,
                    "metadata": []
                }
            ],
            "debugInfo": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    }
]