[
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "What is a Virtual Assistant?",
        "status": 200,
        "response": {
            "query": "What is a Virtual Assistant?",
            "topScoringIntent": {
                "intent": "ReadAloud",
                "score": 0.0624975562
            },
            "entities": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    },
[...]
    {
        "scope": "https://assistant-qnahost.azurewebsites.net:443",
        "method": "POST",
        "path": "/qnamaker/knowledgebases/f7c2ee78-8679-4a3e-b384-0cd10c67e554/generateanswer",
        "body": {
            "question": "What is a Virtual Assistant?",
            "scoreThreshold": 0.3,
            "top": 1,
            "strictFilters": [],
            "metadataBoost": [],
            "timeout": 100000
        },
        "status": 200,
        "response": {
            "answers": [
                {
                    "questions": [
                        "What is a Virtual Assistant"
                    ],
                    "answer": "We have seen significant need from our customers and partners to deliver a conversational assistant tailored to their brand, personalized to their customers and made available across a broad range of conversational canvases and devices. Continuing Microsoft open-sourced approach toward Bot Framework SDK, the open source Virtual Assistant solution provides full control over the end user experience built on a set of foundational capabilities. Additionally, the experience can be infused with intelligence about the end-user and any device/ecosystem information for a truly integrated and intelligent experience.\nFind out more [here](https://github.com/Microsoft/AI/blob/master/solutions/Virtual-Assistant/docs/README.md).",
                    "score": 100,
                    "id": 1,
                    "source": "custom editorial",
                    "metadata": [],
                    "context": {
                        "isContextOnly": false,
                        "prompts": []
                    }
                }
            ],
            "debugInfo": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    }
]