{
  "extension": [
    ".ts"
  ],
  "exclude": [
    "node_modules/**",
    "test/**",
    "coverage/**",
    "**/*.d.ts",
    "docs/**"
  ],
  "reporter": [
    "html",
    "text",
    "cobertura"
  ],
  "sourceMap": true,
  "cache": true
}
