[
    {
        "scope": "https://dc.services.visualstudio.com:443",
        "method": "GET",
        "path": "/api/profiles/f7c2ee78-8679-4a3e-b384-0cd10c67e554/appId",
        "body": "",
        "status": 200,
        "response": "6b757982-4de3-4003-b373-49821deabe2a",
        "rawHeaders": [
            "Content-Type",
            "text/plain",
            "x-ms-session-id",
            "0BEF36A2-4A13-4D0C-9C48-C387F85C03BD"
        ]
    },
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "sample dialog",
        "status": 200,
        "response": {
            "query": "sample dialog",
            "topScoringIntent": {
                "intent": "Sample",
                "score": 0.9705775
            },
            "entities": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "CSP-Billing-Usage",
            "CognitiveServices.LUIS.Transaction|1"
        ]
    },
[...]
