[
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "Cancel",
        "status": 200,
        "response": {
            "query": "Cancel",
            "topScoringIntent": {
                "intent": "l_general",
                "score": 0.998841941
            },
            "entities": [],
            "connectedServiceResult": {
                "query": "Cancel",
                "topScoringIntent": {
                    "intent": "Cancel",
                    "score": 0.997884154
                },
                "entities": []
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "CSP-Billing-Usage",
            "CognitiveServices.LUIS.Transaction|2"
        ]
    },
[...]
