[
    {
        "scope": "https://dc.services.visualstudio.com:443",
        "method": "GET",
        "path": "/api/profiles/f7c2ee78-8679-4a3e-b384-0cd10c67e554/appId",
        "body": "",
        "status": 200,
        "response": "098eebfe-f0ff-4232-ba44-7f7bf9567c5f",
        "rawHeaders": [
            "Content-Type",
            "text/plain",
            "x-ms-session-id",
            "A22B0D4A-A8C5-43BC-93A2-ED1CFD061D5A"
        ]
    },
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "sample dialog",
        "status": 200,
        "response": {
            "query": "sample dialog",
            "topScoringIntent": {
                "intent": "Confirm",
                "score": 0.101148374
            },
            "entities": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    },
[...]
