[
    {
        "scope": "https://dc.services.visualstudio.com:443",
        "method": "GET",
        "path": "/api/profiles/f7c2ee78-8679-4a3e-b384-0cd10c67e554/appId",
        "body": "",
        "status": 200,
        "response": "95810a71-7bb4-4418-a674-713b2f6cdfce",
        "rawHeaders": [
            "Content-Type",
            "text/plain",
            "x-ms-session-id",
            "2B647B87-F767-401C-97DF-BDDA566BFC35"
        ]
    },
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "sample dialog",
        "status": 200,
        "response": {
            "query": "sample dialog",
            "topScoringIntent": {
                "intent": "Confirm",
                "score": 0.17715013
            },
            "entities": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    },
[...]
