[
    {
        "scope": "https://dc.services.visualstudio.com:443",
        "method": "GET",
        "path": "/api/profiles/f7c2ee78-8679-4a3e-b384-0cd10c67e554/appId",
        "body": "",
        "status": 200,
        "response": "b83a8489-c11e-4259-9e8b-2e193c11574b",
        "rawHeaders": [
            "Content-Type",
            "text/plain",
            "x-ms-session-id",
            "0A9852DE-E246-48E4-ABBB-BCF6416936A5"
        ]
    },
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "sample dialog",
        "status": 200,
        "response": {
            "query": "sample dialog",
            "topScoringIntent": {
                "intent": "Sample",
                "score": 0.9705775
            },
            "entities": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "CSP-Billing-Usage",
            "CognitiveServices.LUIS.Transaction|1"
        ]
    },
[...]
