[
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/v2.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554?verbose=false&staging=false&spellCheck=false&log=true",
        "body": "I want to talk to a human",
        "status": 200,
        "response": {
            "query": "I want to talk to a human",
            "topScoringIntent": {
                "intent": "l_general",
                "score": 0.8908691
            },
            "entities": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ]
    },
    {
        "scope": "https://dc.services.visualstudio.com:443",
        "method": "GET",
        "path": "/api/profiles/sample-appInsights-instrumentationKey/appId",
        "body": "",
        "status": 200,
        "response": "61b5c6f9-9aec-442b-a161-a638dbb00bf4",
        "rawHeaders": [
            "Content-Type",
            "text/plain",
            "x-ms-session-id",
            "440B1D75-81AB-41A0-B634-23C1D5459196"
        ]
    },
[...]
