---
---

@import "@primer/css/index.scss";
@import "pages/home.scss";
@import "colors.scss";
@import "markdown.scss";
@import "switcher.scss";

img {
  max-width: 100%;
  max-height: 100%;
}

#header-img {
  z-index:0;
}

#header-content {
  position:relative;
  z-index:1;
}

.featurette {
  padding-top: $spacer * 10;
  padding-bottom: $spacer * 10;
}

.octicon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

code {
  font-size: 14px;
}

/*
 * Extend the footer to the bottom of the page,
 * even if there’s not enough content to make the page scroll.
 */
body {
  min-height: 100vh;
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container-lg {
  flex: 1;
}

#toc .toc-wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}

.flex-1 {
  flex: 1;
}

#toc {
  ul {
    list-style-type: none;
    padding-left: 15px;
  }

  a:hover {
    text-decoration: none;
  }
}

#footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d2d2d2' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d2d2d2' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#content-navbar {
    float: right !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 40px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: block !important;


    .nav::before {
        content: "Contents";
        font-weight: bold;
    }

    .nav {
      display: block !important;
    }
}

