[
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/prediction/v3.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554/slots/production/predict?verbose=true&log=true&show-all-intents=false",
        "body": {
            "query": "run sample dialog",
            "options": {
                "preferExternalEntities": true
            }
        },
        "status": 200,
        "response": {
            "query": "run sample dialog",
            "prediction": {
                "topIntent": "Sample",
                "intents": {
                    "Sample": {
                        "score": 0.9750285
                    }
                },
                "entities": {}
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "CSP-Billing-Usage",
            "CognitiveServices.LUIS.Transaction=1"
        ]
    },
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/prediction/v3.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554/slots/production/predict?verbose=true&log=true&show-all-intents=false",
        "body": {
            "query": "run sample dialog",
            "options": {
                "preferExternalEntities": true
            }
        },
        "status": 200,
        "response": {
            "query": "run sample dialog",
            "prediction": {
                "topIntent": "Confirm",
                "intents": {
                    "Confirm": {
                        "score": 0.061984323
                    }
                },
                "entities": {}
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "CSP-Billing-Usage",
            "CognitiveServices.LUIS.Transaction=1"
        ]
    },
[...]
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/prediction/v3.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554/slots/production/predict?verbose=true&log=true&show-all-intents=false",
        "body": {
            "query": "help",
            "options": {
                "preferExternalEntities": true
            }
        },
        "status": 200,
        "response": {
            "query": "help",
            "prediction": {
                "topIntent": "None",
                "intents": {
                    "None": {
                        "score": 0.873317
                    }
                },
                "entities": {}
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "CSP-Billing-Usage",
            "CognitiveServices.LUIS.Transaction=1"
        ]
    },
    {
        "scope": "https://westus.api.cognitive.microsoft.com:443",
        "method": "POST",
        "path": "/luis/prediction/v3.0/apps/f7c2ee78-8679-4a3e-b384-0cd10c67e554/slots/production/predict?verbose=true&log=true&show-all-intents=false",
        "body": {
            "query": "help",
            "options": {
                "preferExternalEntities": true
            }
        },
        "status": 200,
        "response": {
            "query": "help",
            "prediction": {
                "topIntent": "Help",
                "intents": {
                    "Help": {
                        "score": 0.9895731
                    }
                },
                "entities": {}
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "CSP-Billing-Usage",
            "CognitiveServices.LUIS.Transaction=1"
        ]
    }
]